In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [49]:
df = pd.read_csv('application_train.csv')
pd.set_option('display.max_columns', None)

In [50]:
df.sample(15)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
156306,281186,0,Cash loans,M,Y,N,0,112500.0,608076.0,29704.5,427500.0,Unaccompanied,Commercial associate,Incomplete higher,Single / not married,With parents,0.032561,-10279,-99,-4901.0,-771,8.0,1,1,0,1,1,0,Laborers,1.0,1,1,WEDNESDAY,14,0,0,0,0,0,0,Business Entity Type 3,0.288014,0.682405,NaN,NaN,NaN,0.9831,0.7688,0.1691,NaN,NaN,NaN,NaN,0.1972,NaN,0.7104,NaN,0.0000,NaN,NaN,0.9831,0.7779,0.1706,NaN,NaN,NaN,NaN,0.2017,NaN,0.7401,NaN,0.0000,NaN,NaN,0.9831,0.7719,0.1702,NaN,NaN,NaN,NaN,0.2006,NaN,0.7231,NaN,0.0000,NaN,block of flats,0.6512,"Stone, brick",No,2.0,1.0,2.0,1.0,-1386.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
33725,139074,0,Cash loans,F,N,Y,0,180000.0,755190.0,28894.5,675000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.002042,-18569,-6586,-2192.0,-2090,NaN,1,1,0,1,0,0,High skill tech staff,2.0,3,3,SATURDAY,16,0,0,0,0,0,0,Business Entity Type 3,NaN,0.215157,NaN,0.0052,0.0000,0.9608,0.4628,NaN,0.00,0.0345,0.0417,NaN,0.0119,0.0042,0.0046,0.0000,0.0018,0.0053,0.0000,0.9608,0.4838,NaN,0.0000,0.0345,0.0417,NaN,0.0121,0.0046,0.0048,0.0000,0.0019,0.0052,0.0000,0.9608,0.4700,NaN,0.00,0.0345,0.0417,NaN,0.0121,0.0043,0.0047,0.0000,0.0018,reg oper account,block of flats,0.0040,"Stone, brick",No,0.0,0.0,0.0,0.0,-1283.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
34298,139740,0,Cash loans,M,N,N,0,270000.0,1134000.0,31315.5,1134000.0,Family,Commercial associate,Higher education,Married,House / apartment,0.030755,-10997,-1682,-1196.0,-3403,NaN,1,1,0,1,0,0,Managers,2.0,2,2,WEDNESDAY,15,0,0,0,0,0,0,Trade: type 3,0.159076,0.552881,0.244516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,1.0,-239.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
60518,170170,0,Cash loans,F,N,Y,2,67500.0,454500.0,25506.0,454500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.018634,-10718,-3852,-6698.0,-1018,NaN,1,1,1,1,1,0,Laborers,4.0,2,2,THURSDAY,9,0,0,0,0,0,0,Self-employed,0.377328,0.341069,NaN,0.0186,NaN,0.9861,NaN,NaN,NaN,0.1034,0.0417,NaN,0.0101,NaN,0.0164,NaN,NaN,0.0189,NaN,0.9861,NaN,NaN,NaN,0.1034,0.0417,NaN,0.0103,NaN,0.0171,NaN,NaN,0.0187,NaN,0.9861,NaN,NaN,NaN,0.1034,0.0417,NaN,0.0102,NaN,0.0167,NaN,NaN,NaN,block of flats,0.0243,"Stone, brick",No,2.0,0.0,2.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
74048,185869,0,Cash loans,F,Y,Y,2,112500.0,835605.0,27085.5,697500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.032561,-11724,-2034,-7513.0,-1081,4.0,1,1,0,1,0,0,NaN,4.0,1,1,THURSDAY,16,0,0,0,0,0,0,Trade: type 3,0.511691,0.643986,0.644679,0.1160,0.0583,0.9921,0.8368,0.0370,0.12,0.0862,0.5208,0.0417,0.0228,0.1202,0.1217,0.0077,0.1289,0.0861,0.0416,0.9886,0.8432,0.0374,0.0806,0.0345,0.3333,0.0417,0.0081,0.1313,0.1016,0.0078,0.0191,0.1171,0.0583,0.9921,0.8390,0.0373,0.12,0.0862,0.5208,0.0417,0.0232,0.1223,0.1238,0.0078,0.1316,org spec account,block of flats,0.0806,Monolithic,No,0.0,0.0,0.0,0.0,-2263.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
165028,291306,0,Cash loans,F,Y,N,0,202500.0,331834.5,13644.0,252000.0,Unaccompanied,Working,Secondary / secondary special,Separated,Municipal apartment,0.018029,-16340,-3373,-8555.0,-5236,15.0,1,1,0,1,0,0,Sales staff,1.0,3,3,WEDNESDAY,11,0,0,0,0,0,0,Trade: type 2,0.557526,0.612286,0.276441,0.0619,0.0805,0.9886,NaN,NaN,NaN,0.1034,0.1667,NaN,NaN,NaN,0.0683,NaN,NaN,0.0630,0.0835,0.9886,NaN,NaN,NaN,0.1034,0.1667,NaN,NaN,NaN,0.0712,NaN,NaN,0.0625,0.0805,0.9886,NaN,NaN,NaN,0.1034,0.1667,NaN,NaN,NaN,0.0696,NaN,NaN,NaN,block of flats,0.0600,Panel,No,2.0,0.0,2.0,0.0,-1349.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
222576,357815,0,Cash loans,F,N,Y,1,315000.0,1724688.0,52420.5,1575000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.011657,-15285,-383,-8118.0,-4096,NaN,1,1,0,1,0,0,High skill tech staff,3.0,1,1,WEDNESDAY,14,1,1,0,1,0,0,Business Entity Type 3,NaN,0.701676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1664.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25011,129089,0,Cash loans,M,Y,N,1,202500.0,328365.0,34609.5,297000.0,Unaccompanied,Working,Higher education,Married,Rented apartment,0.020246,-10349,-794,-858.0,-3035,20.0,1,1,0,1,0,0,NaN,3.0,3,3,FRIDAY,7,0,0,0,0,0,0,Business Entity Type 3,NaN,0.180273,0.631355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-474.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
292005,438282,0,Cash loans,F,N,Y,0,225000.0,817560.0,29493.0,675000.0,Family,State servant,Higher education,Married,House / apartment,0.005084,-13348,-1184,-363.0,-2902,NaN,1,1,0,1,0,0,Accountants,2.0,2,2,MONDAY,15,0,0,0,0,0,0,Business Entity Type 1,0.562334,0.594648,0.429424,0.1835,0.1452,0.9836,0.7756,NaN,0.20,0.1724,0.3333,0.3750,0.0260,0.1496,0.1249,NaN,NaN,0.1870,0.1507,0.9836,0.7844,NaN,0.2014,0.1724,0.3333,0.3750,0.0266,0.1635,0.1302,NaN,NaN,0.1853,0.1452,0.9836,0.7786,NaN,0.20,0.1724,0.3333,0.3750,0.0265,0.1522,0.1272,NaN,NaN,reg oper account,block of flats,0.1645,Panel,No,0.0,0.0,0.0,0.0,-463.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
29535,134294,0,Cash loans,F,N,Y,0,292500.0,1080000.0,45886.5,1080000.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.022625,-22813,365243,-4796.0,-2581,NaN,1,0,0,1,1,0,NaN,1.0,2,2,THURSDAY,16,0,0,0,0,0,0,XNA,NaN,0.768064,0.624615,0.2062,0.2730,0.9717,0.6124,0.0435,0.00,0.4828,0.1667,0.2083,0.0700,0.1614,0.2452,0.0309,0.1091,0.2101,0.2833,0.9717,0.6276,0.0439,0.0000,0.4828,0.1667,0.2083,0.0716,0.1763,0.2554,0.0311,0.1155,0.2082,0.2730,0.9717,0.6176,0.0437,0.00,0.4828,0.1667,0.2083,0.0713,0.1642,0.2496,0.0311,0.1114,reg oper account,block of flats,0.2189,"Stone, brick",No,0.0,0.0,0.0,0.0,-1275.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
211667,345287,0,Cash loans,M,Y,Y,0,67500.0,454500.0,21996.0,454500.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.024610,-20565,-11392,-11153.0,-3838,9.0,1,1,1,1,1,0,Laborers,2.0,2,2,SUNDAY,9,0,0,0,0,0,0,Business Entity Type 1,NaN,0.686025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,4.0,0.0,-570.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
280061,424474,0,Revolving loans,F,Y,Y,0,121500.0,202500.0,10125.0,202500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.028663,-21323,365243,-7795.0,-3988,6.0,1,0,0,1,0,0,NaN,2.0,2,2,TUESDAY,9,0,0,0,0,0,0,XNA,NaN,0.596923,0.754406,0.0753,0.0483,0.9896,0.8572,0.0186,0.08,0.0690,0.3333,0.3750,0.0312,0.0605,0.0819,0.0039,0.0020,0.0767,0.0501,0.9896,0.8628,0.0188,0.0806,0.0690,0.3333,0.3750,0.0319,0.0661,0.0854,0.0039,0.0021,0.0760,0.0483,0.9896,0.8591,0.0187,0.08,0.0690,0.3333,0.3750,0.0318,0.0616,0.0834,0.0039,0.0021,reg oper account,block of flats,0.0829,Panel,No,2.0,0.0,2.0,0.0,-4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
170764,297903,0,Cash loans,M,N,Y,1,112500.0,71955.0,8667.0,67500.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.008866,-14613,-2334,-4987.0,-4992,NaN,1,1,1,1,0,0,Drivers,2.0,2,2,SATURDAY,14,0,0,0,0,0,0,Self-employed,NaN,0.433017,0.263647,0.0165,NaN,0.9841,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0084,NaN,NaN,0.0168,NaN,0.9841,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0087,NaN,NaN,0.0167,NaN,0.9841,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0085,NaN,NaN,NaN,block of flats,0.0116,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
135755,257455,0,Revolving loans,F,Y,Y,1,180000.0,337500.0,16875.0,337500.0,Family,Working,Secondary / secondary special,Civil marriage,House / apartment,0.030755,-13716,-5912,-5699.0,-4684,3.0,1,1,1,1,1,0,Laborers,3.0,2,2,WEDNESDAY,9,0,0,0,0,0,0,Medicine,NaN,0.741006,0.720944,0.0722,0.0815,0.9796,0.7212,0.0089,0.00,0.1379,0.1667,0.2083,0.0255,0.0588,0.0648,0.0000,0.0000,0.0735,0.0846,0.9796,0.7321,0.0090,0.0000,0.1379,0.1667,0.2083,0.0260,0.0643,0.0676,0.0000,0.0000,0.0729,0.0815,0.9796,0.7249,0.0090,0.00,0.1379,0.1667,0.2083,0.0259,0.0599,0.0660,0.0000,0.0000,reg oper account,block of flats,0.0559,"Stone, brick",No,4.0,0.0,4.0,0.0,-1292.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,1.0,0.0,0.0,2.0
174804,302574,0,Cash loans,F,Y,Y,0,157500.0,1635120.0,56965.5,1350000.0,Unaccompanied,Pensioner,Higher education,Married,House / apartment,0.011657,-22016,365243,-14.0,-4761,8.0,1,0,0,1,0,1,NaN,2.0,1,1,THURSDAY,13,0,0,0,0,0,0,XNA,NaN,0.628103,0.490258,NaN,NaN,0.9990,NaN,NaN,0.08,0.3103,NaN,NaN,NaN,NaN,0.1045,NaN,NaN,NaN,NaN,0.9990,NaN,NaN,0.0806,0.3103,NaN,NaN,NaN,NaN,0.1089,NaN,NaN,NaN,NaN,0.9990,NaN,NaN,0.08,0.3103,NaN,NaN,NaN,NaN,0.1064,NaN,NaN,NaN,block of flats,0.0822,Monolithic,No,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [52]:
pd.set_option('display.max_columns', None)

# Pilih kolom-kolom bertipe objek dan simpan dalam variabel 'categoric'
categoric = df.select_dtypes('object')

# Pilih kolom-kolom bertipe numerik dan simpan dalam variabel 'numeric'
numeric = df.select_dtypes('number')

# Tentukan jumlah baris dan kolom
rows = df.shape[0]
cols = df.shape[1]

# Cetak bentuk DataFrame
print(f'Jumlah Baris: {rows}\nJumlah Kolom: {cols}')

# Cetak sampel 6 baris dari DataFrame
print('\nContoh Data:')
display(df.sample(6))

# Cetak ringkasan statistik data kategorikal
print('\nRingkasan Statistik Data Kategorikal:')
display(categoric.describe().T)

# Cetak ringkasan statistik data numerik
print('\nRingkasan Statistik Data Numerik:')
display(numeric.describe().T)

# Define categorical_col and numerical_col before printing
categorical_col = categoric.columns.tolist()  # Get the list of categorical columns
numerical_col = numeric.columns.tolist()    # Get the list of numerical columns

Jumlah Baris: 307511
Jumlah Kolom: 122

Contoh Data:

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
164682,290894,1,Cash loans,F,N,Y,0,270000.0,569398.5,45117.0,486000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.032561,-13200,-710,-7413.0,-2226,NaN,1,1,0,1,1,0,Sales staff,2.0,1,1,THURSDAY,13,0,0,0,0,0,0,Trade: type 3,NaN,0.626651,0.087304,0.0175,NaN,0.9712,NaN,NaN,NaN,0.0690,0.1250,NaN,NaN,NaN,0.0265,NaN,0.0358,0.0179,NaN,0.9712,NaN,NaN,NaN,0.0690,0.1250,NaN,NaN,NaN,0.0276,NaN,0.0379,0.0177,NaN,0.9712,NaN,NaN,NaN,0.0690,0.1250,NaN,NaN,NaN,0.0269,NaN,0.0366,NaN,block of flats,0.0286,"Stone, brick",No,0.0,0.0,0.0,0.0,-970.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,2.0
235498,372779,0,Cash loans,M,N,Y,0,220500.0,586764.0,22248.0,405000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018801,-20236,-9752,-8846.0,-3399,NaN,1,1,0,1,0,0,NaN,2.0,2,2,TUESDAY,7,0,0,0,0,0,0,Medicine,NaN,0.194492,0.641368,0.0825,0.0794,0.9757,0.6668,0.0317,0.0,0.1379,0.1667,0.2083,0.0263,0.0672,0.0706,0.0,0.0000,0.0840,0.0824,0.9757,0.6798,0.032,0.0,0.1379,0.1667,0.2083,0.0269,0.0735,0.0736,0.0,0.0000,0.0833,0.0794,0.9757,0.6713,0.0319,0.0,0.1379,0.1667,0.2083,0.0268,0.0684,0.0719,0.0,0.0000,reg oper account,block of flats,0.0729,Panel,No,0.0,0.0,0.0,0.0,-3070.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
97312,212979,0,Cash loans,F,Y,Y,0,225000.0,816660.0,30132.0,585000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.008866,-16372,-484,-9449.0,-4409,21.0,1,1,1,1,0,0,Sales staff,2.0,2,2,THURSDAY,10,0,0,0,0,0,0,Trade: type 7,NaN,0.203551,NaN,0.0041,NaN,0.9831,NaN,NaN,0.0,0.0345,0.0000,NaN,0.0000,NaN,0.0023,NaN,0.0000,0.0042,NaN,0.9831,NaN,NaN,0.0,0.0345,0.0000,NaN,0.0000,NaN,0.0024,NaN,0.0000,0.0042,NaN,0.9831,NaN,NaN,0.0,0.0345,0.0000,NaN,0.0000,NaN,0.0023,NaN,0.0000,NaN,block of flats,0.0027,Wooden,No,1.0,0.0,1.0,0.0,-489.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
63241,173346,0,Cash loans,M,N,Y,0,135000.0,238500.0,11601.0,238500.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.004960,-17496,-3425,-9190.0,-1042,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,THURSDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.187721,0.560280,0.638044,0.0990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0250,NaN,No,0.0,0.0,0.0,0.0,-564.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
200501,332426,0,Cash loans,F,N,N,0,112500.0,237204.0,8788.5,198000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.035792,-24204,365243,-47.0,-4778,NaN,1,0,0,1,1,0,NaN,1.0,2,2,FRIDAY,16,0,0,0,0,0,0,XNA,NaN,0.442403,0.434733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-8.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
45144,152293,0,Cash loans,M,Y,Y,0,112500.0,284400.0,13963.5,225000.0,Family,Working,Higher education,Married,House / apartment,0.035792,-8336,-1046,-3145.0,-473,7.0,1,1,1,1,1,0,NaN,2.0,2,2,SATURDAY,14,0,0,0,0,1,1,Business Entity Type 3,NaN,0.496580,0.167408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-175.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0

Ringkasan Statistik Data Kategorikal:

,count,unique,top,freq
NAME_CONTRACT_TYPE,307511,2,Cash loans,278232
CODE_GENDER,307511,3,F,202448
FLAG_OWN_CAR,307511,2,N,202924
FLAG_OWN_REALTY,307511,2,Y,213312
NAME_TYPE_SUITE,306219,7,Unaccompanied,248526
NAME_INCOME_TYPE,307511,8,Working,158774
NAME_EDUCATION_TYPE,307511,5,Secondary / secondary special,218391
NAME_FAMILY_STATUS,307511,6,Married,196432
NAME_HOUSING_TYPE,307511,6,House / apartment,272868
OCCUPATION_TYPE,211120,18,Laborers,55186
WEEKDAY_APPR_PROCESS_START,307511,7,TUESDAY,53901
ORGANIZATION_TYPE,307511,58,Business Entity Type 3,67992
FONDKAPREMONT_MODE,97216,4,reg oper account,73830
HOUSETYPE_MODE,153214,3,block of flats,150503
WALLSMATERIAL_MODE,151170,7,Panel,66040
EMERGENCYSTATE_MODE,161756,2,No,159428

Ringkasan Statistik Data Numerik:

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,307511.0,278180.518577,102790.175348,100002.0,189145.5,278202.0,367142.5,456255.0
TARGET,307511.0,0.080729,0.272419,0.0,0.0,0.0,0.0,1.0
CNT_CHILDREN,307511.0,0.417052,0.722121,0.0,0.0,0.0,1.0,19.0
AMT_INCOME_TOTAL,307511.0,168797.919297,237123.146279,25650.0,112500.0,147150.0,202500.0,117000000.0
AMT_CREDIT,307511.0,599025.999706,402490.776996,45000.0,270000.0,513531.0,808650.0,4050000.0
...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,265992.0,0.007000,0.110757,0.0,0.0,0.0,0.0,9.0
AMT_REQ_CREDIT_BUREAU_WEEK,265992.0,0.034362,0.204685,0.0,0.0,0.0,0.0,8.0
AMT_REQ_CREDIT_BUREAU_MON,265992.0,0.267395,0.916002,0.0,0.0,0.0,0.0,27.0
AMT_REQ_CREDIT_BUREAU_QRT,265992.0,0.265474,0.794056,0.0,0.0,0.0,0.0,261.0
AMT_REQ_CREDIT_BUREAU_YEAR,265992.0,1.899974,1.869295,0.0,0.0,1.0,3.0,25.0

In [53]:
print("Categorical columns: ", categorical_col)
print("Numerical columns: ", numerical_col)

Categorical columns:  ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
Numerical columns:  ['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [54]:
dfe = df.copy()
# Memeriksa baris duplikat
duplicate_rows = dfe.duplicated()

# Menampilkan jumlah baris duplikat
print(f"Jumlah baris duplikat: {duplicate_rows.sum()}")

# Fungsi untuk menghitung dan menampilkan kolom dengan nilai missing
def check_nan(dfe):
    # Hitung nilai null
    null_values = dfe.isnull().sum()

    # Buat DataFrame untuk total nilai null dan persentase
    nvc = pd.DataFrame(null_values[null_values > 0].sort_values(), columns=['Total Null Values'])  # Hanya ambil kolom dengan nilai null
    nvc['Percentage'] = (nvc['Total Null Values'] / dfe.shape[0]) * 100
    nvc["Data Type"] = [dfe[col].dtype for col in nvc.index]  # Ambil tipe data dari kolom yang ada

    # Urutkan berdasarkan total nilai null dan persentase
    nvc.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)

    # Tampilkan hasil dengan gaya
    return nvc.style.background_gradient(cmap='Blues')

# Panggil fungsi dan simpan hasilnya
styled_result = check_nan(dfe)

# Untuk menampilkan hasil di Jupyter Notebook, gunakan:
styled_result

Jumlah baris duplikat: 0

In [55]:
# 1. Drop kolom dengan missing value > 50%
missing_threshold = 0.5
cols_to_drop = dfe.columns[dfe.isnull().mean() > missing_threshold]
dfe.drop(columns=cols_to_drop, inplace=True)

# 2. Imputasi kolom numerik dengan missing value antara 10% - 50% menggunakan median
num_cols = dfe.select_dtypes(include=['float64', 'int64']).columns
for col in num_cols:
    missing_pct = dfe[col].isnull().mean()
    if 0.1 < missing_pct <= 0.5:
        dfe[col].fillna(dfe[col].median(), inplace=True)

# 3. Imputasi kolom kategorikal dengan missing value antara 10% - 50% menggunakan modus
cat_cols = dfe.select_dtypes(include='object').columns
for col in cat_cols:
    missing_pct = dfe[col].isnull().mean()
    if 0.1 < missing_pct <= 0.5:
        dfe[col].fillna(dfe[col].mode()[0], inplace=True)

# 4. Imputasi kolom dengan missing value < 10%
for col in dfe.columns:
    if dfe[col].isnull().mean() <= 0.1:
        if dfe[col].dtype == 'object':
            dfe[col].fillna(dfe[col].mode()[0], inplace=True)
        else:
            dfe[col].fillna(dfe[col].median(), inplace=True)

# 5. Cek hasil akhir
# Panggil fungsi dan simpan hasilnya
styled_result = check_nan(dfe)

# Untuk menampilkan hasil di Jupyter Notebook, gunakan:
styled_result

1. Drop kolom dengan missing value > 50%, Karena lebih dari separuh datanya hilang, kolom tersebut kemungkinan besar tidak lagi memberikan informasi yang cukup untuk dianalisis.
   
2. Imputasi numerik 1050% dengan median, Median tidak terpengaruh outlier sehingga lebih aman digunakan untuk mengisi nilai kosong pada distribusi data numerik yang tidak simetris.
   
3. Imputasi kategorikal 1050% dengan modus, menggunakan modus menjaga konsistensi pola kategori terbanyak tanpa mengubah distribusi asli secara signifikan.

4: Imputasi <10% dengan median/modus, Persentase kecil dapat diisi langsung tanpa risiko distorsi besar terhadap struktur data secara keseluruhan.

In [56]:
dfe

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.262949,0.139376,0.9722,0.0833,0.9722,0.0833,0.9722,0.0833,0.0149,No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,0.535276,0.9851,0.2917,0.9851,0.2917,0.9851,0.2917,0.0714,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.555912,0.729567,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,0.650442,0.535276,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,0.322738,0.535276,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.681632,0.535276,0.9876,0.6042,0.9782,0.4583,0.9876,0.6042,0.2898,No,0.0,0.0,0.0,0.0,-273.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,1,0,0,1,1,0,Laborers,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,0.115992,0.535276,0.9727,0.0833,0.9727,0.0833,0.9727,0.0833,0.0214,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.535722,0.218859,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.7970,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,0.514163,0.661024,0.9771,0.0417,0.9772,0.0417,0.9771,0.0417,0.0086,No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.708569,0.113922,0.9881,0.3750,0.9881,0.3750,0.9881,0.3750,0.0718,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [57]:
# Salin dfe ke variabel sebelum cleaning
main = dfe.copy()

# Lakukan proses cleaning pada dfe
# (contohnya drop kolom dokumen seperti yang kamu lakukan sebelumnya)
main_cleaned = dfe.drop(columns=[
    'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'
])

# Cek bentuk data sebelum dan sesudah cleaning
print(f'application train data before cleaning: {df.shape[0]} rows and {df.shape[1]} columns')
print(f'application train data after cleaning: {main_cleaned.shape[0]} rows and {main_cleaned.shape[1]} columns')

application train data before cleaning: 307511 rows and 122 columns
application train data after cleaning: 307511 rows and 61 columns

In [58]:
main_cleaned

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.262949,0.139376,0.9722,0.0833,0.9722,0.0833,0.9722,0.0833,0.0149,No,2.0,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,0.535276,0.9851,0.2917,0.9851,0.2917,0.9851,0.2917,0.0714,No,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.555912,0.729567,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,0.650442,0.535276,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,2.0,0.0,2.0,0.0,-617.0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,0.322738,0.535276,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.681632,0.535276,0.9876,0.6042,0.9782,0.4583,0.9876,0.6042,0.2898,No,0.0,0.0,0.0,0.0,-273.0,0.0,0.0,0.0,0.0,0.0,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,1,0,0,1,1,0,Laborers,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,0.115992,0.535276,0.9727,0.0833,0.9727,0.0833,0.9727,0.0833,0.0214,No,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.535722,0.218859,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.7970,No,6.0,0.0,6.0,0.0,-1909.0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,0.514163,0.661024,0.9771,0.0417,0.9772,0.0417,0.9771,0.0417,0.0086,No,0.0,0.0,0.0,0.0,-322.0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.708569,0.113922,0.9881,0.3750,0.9881,0.3750,0.9881,0.3750,0.0718,No,0.0,0.0,0.0,0.0,-787.0,0.0,0.0,0.0,2.0,0.0,1.0

In [59]:
main_cleaned.to_parquet('application_train_cleaned.parquet', index=False)