In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('credit_card_balance.csv')
pd.set_option('display.max_columns', None)

In [4]:
df.sample(15)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
799897,1649328,380671,-61,64130.040,67500,0.0,0.0,0.0,0.0,3375.00,3375.000,3375.0,61571.115,64130.040,64130.040,0.0,0,0.0,0.0,31.0,Active,0,0
604300,2108051,260802,-21,0.000,270000,0.0,0.0,0.0,0.0,0.00,1.035,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,62.0,Active,0,0
1472394,2007616,418390,-81,241.605,90000,0.0,0.0,0.0,0.0,4500.00,30487.500,30487.5,0.000,0.000,0.000,0.0,0,0.0,0.0,15.0,Active,0,0
305803,2594144,242169,-82,99882.585,112500,0.0,0.0,0.0,0.0,5625.00,10125.000,10125.0,95890.410,99882.585,99882.585,0.0,0,0.0,0.0,7.0,Active,0,0
205224,1945223,136151,-53,173388.060,180000,0.0,0.0,0.0,0.0,9000.00,18000.000,18000.0,167897.250,173388.060,173388.060,0.0,0,0.0,0.0,45.0,Active,0,0
1413339,2665330,232092,-81,96286.140,90000,0.0,0.0,0.0,0.0,4500.00,0.000,0.0,88749.630,96286.140,96286.140,0.0,0,0.0,0.0,8.0,Active,1,1
3782877,2462336,216915,-52,0.000,0,0.0,0.0,0.0,0.0,0.00,2553.660,0.0,0.000,-2553.660,-2553.660,0.0,0,0.0,0.0,18.0,Active,0,0
1585302,2314246,292900,-55,0.000,0,0.0,0.0,0.0,0.0,0.00,1957.860,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,11.0,Active,0,0
2483568,2691414,326300,-18,0.000,135000,NaN,0.0,NaN,NaN,0.00,NaN,0.0,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3284738,2150138,203118,-94,53587.170,67500,0.0,0.0,0.0,0.0,4050.00,4500.000,4500.0,51407.910,53587.170,53587.170,0.0,0,0.0,0.0,7.0,Active,0,0
475754,1329680,328755,-63,0.000,0,0.0,0.0,0.0,0.0,0.00,396.540,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,10.0,Active,0,0
1820184,1054526,181277,-4,132476.040,405000,0.0,0.0,0.0,0.0,7129.62,15750.000,15750.0,126842.355,131499.360,131499.360,0.0,0,0.0,0.0,38.0,Active,0,0
2360865,2524385,141318,-24,0.000,0,NaN,0.0,NaN,NaN,0.00,NaN,0.0,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3323067,1065359,342754,-34,0.000,180000,0.0,0.0,0.0,0.0,0.00,103.185,0.0,0.000,0.000,0.000,0.0,0,0.0,0.0,41.0,Active,0,0
1918871,1956392,113283,-93,184191.660,180000,150750.0,150750.0,0.0,0.0,9000.00,13500.000,13500.0,171570.465,184191.660,184191.660,15.0,15,0.0,0.0,5.0,Active,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [6]:
pd.set_option('display.max_columns', None)

# Pilih kolom-kolom bertipe objek dan simpan dalam variabel 'categoric'
categoric = df.select_dtypes('object')

# Pilih kolom-kolom bertipe numerik dan simpan dalam variabel 'numeric'
numeric = df.select_dtypes('number')

# Tentukan jumlah baris dan kolom
rows = df.shape[0]
cols = df.shape[1]

# Cetak bentuk DataFrame
print(f'Jumlah Baris: {rows}\nJumlah Kolom: {cols}')

# Cetak sampel 6 baris dari DataFrame
print('\nContoh Data:')
display(df.sample(6))

# Cetak ringkasan statistik data kategorikal
print('\nRingkasan Statistik Data Kategorikal:')
display(categoric.describe().T)

# Cetak ringkasan statistik data numerik
print('\nRingkasan Statistik Data Numerik:')
display(numeric.describe().T)

# Define categorical_col and numerical_col before printing
categorical_col = categoric.columns.tolist()  # Get the list of categorical columns
numerical_col = numeric.columns.tolist()    # Get the list of numerical columns

Jumlah Baris: 3840312
Jumlah Kolom: 23

Contoh Data:

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2134038,1096449,176846,-34,0.00,225000,NaN,0.0,NaN,NaN,NaN,NaN,0.00,0.0,0.0,0.0,NaN,0,NaN,NaN,NaN,Active,0,0
2055370,2658047,400780,-9,0.00,0,0.0,0.0,0.0,0.0,0.0,305.910,305.91,0.0,0.0,0.0,0.0,0,0.0,0.0,8.0,Active,0,0
1100419,1421408,219714,-2,0.00,180000,NaN,0.0,NaN,NaN,0.0,NaN,0.00,0.0,0.0,0.0,NaN,0,NaN,NaN,0.0,Active,0,0
710616,2652298,228758,-23,0.00,90000,0.0,0.0,0.0,0.0,0.0,632.745,0.00,0.0,0.0,0.0,0.0,0,0.0,0.0,35.0,Active,0,0
13007,2155334,319733,-90,1428.48,90000,0.0,0.0,0.0,0.0,5400.0,71010.000,71010.00,0.0,0.0,0.0,0.0,0,0.0,0.0,11.0,Active,0,0
2739197,1651989,448277,-1,0.00,0,0.0,0.0,0.0,0.0,0.0,211.905,0.00,0.0,0.0,0.0,0.0,0,0.0,0.0,10.0,Active,0,0

Ringkasan Statistik Data Kategorikal:

                        count unique     top     freq
NAME_CONTRACT_STATUS  3840312      7  Active  3698436

Ringkasan Statistik Data Numerik:

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,3840312.0,1.904504e+06,536469.470563,1000018.000,1434385.00,1897122.0,2.369328e+06,2843496.000
SK_ID_CURR,3840312.0,2.783242e+05,102704.475133,100006.000,189517.00,278396.0,3.675800e+05,456250.000
MONTHS_BALANCE,3840312.0,-3.452192e+01,26.667751,-96.000,-55.00,-28.0,-1.100000e+01,-1.000
AMT_BALANCE,3840312.0,5.830016e+04,106307.031025,-420250.185,0.00,0.0,8.904669e+04,1505902.185
AMT_CREDIT_LIMIT_ACTUAL,3840312.0,1.538080e+05,165145.699523,0.000,45000.00,112500.0,1.800000e+05,1350000.000
AMT_DRAWINGS_ATM_CURRENT,3090496.0,5.961325e+03,28225.688579,-6827.310,0.00,0.0,0.000000e+00,2115000.000
AMT_DRAWINGS_CURRENT,3840312.0,7.433388e+03,33846.077334,-6211.620,0.00,0.0,0.000000e+00,2287098.315
AMT_DRAWINGS_OTHER_CURRENT,3090496.0,2.881696e+02,8201.989345,0.000,0.00,0.0,0.000000e+00,1529847.000
AMT_DRAWINGS_POS_CURRENT,3090496.0,2.968805e+03,20796.887047,0.000,0.00,0.0,0.000000e+00,2239274.160
AMT_INST_MIN_REGULARITY,3535076.0,3.540204e+03,5600.154122,0.000,0.00,0.0,6.633911e+03,202882.005
AMT_PAYMENT_CURRENT,3072324.0,1.028054e+04,36078.084953,0.000,152.37,2702.7,9.000000e+03,4289207.445
AMT_PAYMENT_TOTAL_CURRENT,3840312.0,7.588857e+03,32005.987768,0.000,0.00,0.0,6.750000e+03,4278315.690
AMT_RECEIVABLE_PRINCIPAL,3840312.0,5.596588e+04,102533.616843,-423305.820,0.00,0.0,8.535924e+04,1472316.795
AMT_RECIVABLE,3840312.0,5.808881e+04,105965.369908,-420250.185,0.00,0.0,8.889949e+04,1493338.185
AMT_TOTAL_RECEIVABLE,3840312.0,5.809829e+04,105971.801103,-420250.185,0.00,0.0,8.891451e+04,1493338.185
CNT_DRAWINGS_ATM_CURRENT,3090496.0,3.094490e-01,1.100401,0.000,0.00,0.0,0.000000e+00,51.000
CNT_DRAWINGS_CURRENT,3840312.0,7.031439e-01,3.190347,0.000,0.00,0.0,0.000000e+00,165.000
CNT_DRAWINGS_OTHER_CURRENT,3090496.0,4.812496e-03,0.082639,0.000,0.00,0.0,0.000000e+00,12.000
CNT_DRAWINGS_POS_CURRENT,3090496.0,5.594791e-01,3.240649,0.000,0.00,0.0,0.000000e+00,165.000
CNT_INSTALMENT_MATURE_CUM,3535076.0,2.082508e+01,20.051494,0.000,4.00,15.0,3.200000e+01,120.000
SK_DPD,3840312.0,9.283667e+00,97.515700,0.000,0.00,0.0,0.000000e+00,3260.000
SK_DPD_DEF,3840312.0,3.316220e-01,21.479231,0.000,0.00,0.0,0.000000e+00,3260.000

In [7]:
print("Categorical columns: ", categorical_col)
print("Numerical columns: ", numerical_col)

Categorical columns:  ['NAME_CONTRACT_STATUS']
Numerical columns:  ['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE', 'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM', 'SK_DPD', 'SK_DPD_DEF']

In [8]:
dfe = df.copy()
# Memeriksa baris duplikat
duplicate_rows = dfe.duplicated()

# Menampilkan jumlah baris duplikat
print(f"Jumlah baris duplikat: {duplicate_rows.sum()}")

# Fungsi untuk menghitung dan menampilkan kolom dengan nilai missing
def check_nan(dfe):
    # Hitung nilai null
    null_values = dfe.isnull().sum()

    # Buat DataFrame untuk total nilai null dan persentase
    nvc = pd.DataFrame(null_values[null_values > 0].sort_values(), columns=['Total Null Values'])  # Hanya ambil kolom dengan nilai null
    nvc['Percentage'] = (nvc['Total Null Values'] / dfe.shape[0]) * 100
    nvc["Data Type"] = [dfe[col].dtype for col in nvc.index]  # Ambil tipe data dari kolom yang ada

    # Urutkan berdasarkan total nilai null dan persentase
    nvc.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)

    # Tampilkan hasil dengan gaya
    return nvc.style.background_gradient(cmap='Blues')

# Panggil fungsi dan simpan hasilnya
styled_result = check_nan(dfe)

# Untuk menampilkan hasil di Jupyter Notebook, gunakan:
styled_result

Jumlah baris duplikat: 0

In [9]:
# 1. Hitung total dan persentase missing value
missing = dfe.isnull().sum() / len(dfe) * 100
missing = missing[missing > 0].sort_values(ascending=False)
print("Missing Value Percentage:\n", missing)

Missing Value Percentage:
 AMT_PAYMENT_CURRENT           19.998063
AMT_DRAWINGS_ATM_CURRENT      19.524872
AMT_DRAWINGS_OTHER_CURRENT    19.524872
AMT_DRAWINGS_POS_CURRENT      19.524872
CNT_DRAWINGS_ATM_CURRENT      19.524872
CNT_DRAWINGS_OTHER_CURRENT    19.524872
CNT_DRAWINGS_POS_CURRENT      19.524872
AMT_INST_MIN_REGULARITY        7.948208
CNT_INSTALMENT_MATURE_CUM      7.948208
dtype: float64

Semua kolom yang hilang ini:

Bersifat numerik float/int)

Memiliki distribusi skewed atau mengandung outlier

Tidak bersifat kategorikal, sehingga imputasi median adalah pendekatan yang tepat

In [10]:
from sklearn.impute import SimpleImputer

# Kolom yang missing value-nya antara 5% dan 50%
to_impute = missing[(missing > 5) & (missing <= 50)].index.tolist()

# Gunakan median untuk menghindari outlier effect
imputer = SimpleImputer(strategy='median')
dfe[to_impute] = imputer.fit_transform(dfe[to_impute])

# Kolom dengan missing value < 5%
low_missing = missing[missing <= 5].index.tolist()
# Drop baris yang memiliki null pada kolom tersebut
if len(low_missing) > 0:
    dfe = dfe.dropna(subset=low_missing)

In [11]:
# Panggil fungsi dan simpan hasilnya
styled_result = check_nan(dfe)

# Untuk menampilkan hasil di Jupyter Notebook, gunakan:
styled_result

In [12]:
dfe.to_csv('credit_card_balance_cleaned.csv', index=False)